<div class="register-wrapper">
  <p-card header="Register" [style]="{ width: '360px' }">
    <div class="card flex justify-content-center">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <span class="p-float-label">
          <input pInputText id="username" formControlName="user_id" />
          <label htmlFor="username">User id</label>
        </span>

        <span class="p-float-label mt">
          <input pInputText formControlName="user_name" />
          <label htmlFor="username">User name</label>
        </span>

        <span class="p-float-label mt">
          <p-password
            formControlName="password"
            [feedback]="false"
          ></p-password>
          <label for="password">Password</label>
        </span>

        <span class="p-float-label mt">
          <input pInputText formControlName="email" />
          <label htmlFor="username">Email</label>
        </span>

        <span class="p-float-label mt">
          <input pInputText formControlName="name" />
          <label htmlFor="username">Name</label>
        </span>
        <span class="p-float-label mt">
          <input pInputText formControlName="surname" />
          <label htmlFor="surname">Last Name</label>
        </span>

        <div class="card flex justify-content-center mt">
          <div *ngFor="let user of users" class="field-checkbox mt">
            <p-radioButton
              [inputId]="user.key"
              [value]="user.key"
              formControlName="userType"
            ></p-radioButton>
            <label [for]="user.key" class="ml-2">{{ user.name }}</label>
          </div>
        </div>

        <div class="button-wrapper">
          <button
            type="submit"
            pButton
            pRipple
            label="Register"
            class="p-button-success mt"
          ></button>

          <div class="back-button">
            <p-button
              label="Back"
              routerLink="/admin"
              [text]="true"
              severity="danger"
            ></p-button>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>

<!-- // "login": "login",
//   "hasło": "hasło",
//   "email": "email",
//   "imie": "imie",
//   "nazwisko": "nazwisko jest opcjonalne",
//   "typUsera": "twórca/user" -->
