<app-top-nav></app-top-nav>
<div class="admin-page-wrapper">
  <div class="my-posts-wrapper">
    <div class="header-wrapper">
      <h2>Your articles</h2>
      <p-button
        routerLink="/addAricle"
        size="small"
        label="Add new + "
        severity="success"
      ></p-button>
    </div>

    <div class="articles-wrapper">
      <ng-container *ngFor="let article of articles">
        <div class="article-item-wrapper">
          <app-article-item [article]="article"></app-article-item>
          <div class="buttons-wrapper">
            <p-button
              [routerLink]="['/article', article._id]"
              [state]="{ selectedArticle: article }"
              label="Full view"
              size="small"
              [text]="true"
            ></p-button>
            <p-button
              (click)="confirmRemoveAction(article._id)"
              label="Delete"
              [text]="true"
              size="small"
              severity="danger"
            ></p-button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- <div class="add-post-wrapper">
    <h2>Add new Article</h2>
    <app-article-admin></app-article-admin>
  </div> -->
</div>

<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
