<div class="starter-page">
  <div class="top-nav">
    <div class="title">E-Learning</div>
    <div class="button-wrapper">
      <p-button
        routerLink="/login"
        size="small"
        label="Login"
        severity="primary"
      ></p-button
      ><p-button
        routerLink="/register"
        size="small"
        label="Register"
        [outlined]="true"
        severity="primary"
      ></p-button>
    </div>
  </div>
  <div class="banner-section">
    <div class="title">
      <h1>E-learning <span class="color">app</span></h1>
      <div>The best way to Learn and Upskill!</div>
    </div>
    <div class="buttons-wrapper"></div>
  </div>

  <div class="inspire-section1">
    <div class="text">
      Unlock your full potential, by compliting <br />
      courses from independent teachers, or...
    </div>

    <img height="350" src="assets/img/undraw_knowledge_re_5v9l.svg" />
  </div>
  <div class="inspire-section2">
    <div class="text">
      ...be a <span class="color"> creator </span> and teach other what you
      love.
    </div>
  </div>

  <div class="inform-section">
    <div class="content">
      <div>
        <h1>What is E-learning app?</h1>
        <div class="content-text">
          My tool is an advanced E-Learning platform designed to revolutionize
          the way you access and engage with educational content. Offering a
          comprehensive repository of courses, tutorials, and resources across
          various disciplines, it empowers users to explore and acquire
          knowledge effortlessly. With intuitive search functionalities our tool
          streamlines the process of finding relevant information, ensuring that
          learners can quickly locate the materials they need to succeed.
          Whether you're a student, professional, or lifelong learner, our
          platform provides invaluable support in your quest for information,
          enabling you to enhance your skills and achieve your educational goals
          with ease.
        </div>
      </div>

      <div class="img">
        <img height="300" src="assets/img/undraw_education_f8ru.svg" />
      </div>
    </div>
  </div>
</div>
