<div class="starter-page">
  <div class="top-nav">E-Learning</div>
  <div class="banner-section">
    <div class="title">
      <h1>E-Learning app</h1>
      <div></div>
    </div>
    <div class="buttons-wrapper">
      <p-button  routerLink="/login" size="small" label="Login" severity="warning"></p-button
      ><p-button
      routerLink="/register"
        size="small"
        label="Register"
        [outlined]="true"
        severity="warning"
      ></p-button>
    </div>
  </div>
</div>
