<app-top-nav></app-top-nav>
<div class="home-page-wrapper">
  <div class="filters-wrapper">
    <div class="filters-item">
      <p-chips
        (onRemove)="executeSearch()"
        [max]="3"
        [(ngModel)]="selectedTags"
        placeholder="tags"
        [disabled]="loading"
      >
      </p-chips>
    </div>

    <div class="filters-item">
      <p-dropdown
        [options]="filters"
        [(ngModel)]="selectedFilter"
        (onChange)="executeSearch()"
        [disabled]="loading"
        optionLabel="name"
      ></p-dropdown>
    </div>
    <div class="filters-item">
      <span class="p-input-icon-left">
        <i class="fa-solid fa-magnifying-glass"></i>
        <!-- Angular extension bug, nothing to worry about -->
        <input
          class="search-input"
          type="text"
          pInputText
          placeholder="Search"
          [(ngModel)]="searchQueryModel"
          [disabled]="loading"
        />
      </span>
    </div>

    <div class="filters-item">
      <p-button
        label="Search"
        (onClick)="executeSearch()"
        [disabled]="loading"
      ></p-button>
    </div>
    <div class="filters-item">
      <p-button label="Reset" (onClick)="resetSearch()"></p-button>
    </div>
  </div>

  <p-splitter
    [style]="{ minHeight: '300px' }"
    [minSizes]="[30, 30]"
    styleClass="mb-5"
    class="splitter-panel"
  >
    <ng-template pTemplate>
      <div class="article-list-wrapper">
        <ng-container *ngFor="let article of articles">
          <app-article-item
            (click)="articleSelected(article)"
            (newTagAddToSearchEvent)="addTagToSearch($event)"
            [article]="article"
          ></app-article-item>
        </ng-container>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="article-content-wrapper">
        <div
          *ngIf="selectedArticle !== null; else pickArticleTemplate"
          class="article-content"
        >
          <p-button
            [routerLink]="['/article', selectedArticle._id]"
            [state]="{ selectedArticle: selectedArticle }"
            label="Full view"
            size="small"
            [text]="true"
          ></p-button>
          <h3>{{ selectedArticle.body.title }}</h3>
          <p [innerHTML]="selectedArticle.body.body | safe"></p>
        </div>
      </div>
    </ng-template>
  </p-splitter>

  <!-- <div class="accordion-wrapper">
    <p-accordion [multiple]="false" [activeIndex]="0">
      <ng-container *ngFor="let article of articles">
        <app-article-item
          (newTagAddToSearchEvent)="addTagToSearch($event)"
          [article]="article"
        ></app-article-item>
      </ng-container>
    </p-accordion>
  </div> -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    (onPageChange)="paginate($event)"
  ></p-paginator>
</div>

<!-- <ng-template #loadingSpinner
  ><p-progressSpinner></p-progressSpinner
></ng-template> -->

<ng-template #pickArticleTemplate>
  <div class="pick-article-template-wrapper">
    <h2>Select an Article to view</h2>
    <div>Nothing is selected</div>
  </div>
</ng-template>
