.home-page-wrapper {
  padding-top: 120px;
  min-height: 100vh;
  width: 1400px;
  margin: auto;
  max-width: 100%;
  // display: flex;
  // align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  .search-input {
    width: 350px;
  }

  .filters-wrapper {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .filters-item {
      padding: 10px;
    }
  }

  .accordion-wrapper {
    width: 100%;
    margin-top: 40px;
  }
}

p-accordion {
  width: 100%;
}
